* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

/* Navbar */
/* ---------------------------------------- */
.content-nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 15px;
  margin-bottom: 10px;
  font-family: Arial, sans-serif;
  font-weight: 100;
  font-size: 0.9rem;
  background-color: #004da5;
  color: aliceblue;
  border-bottom: 4px solid hsl(18, 81%, 49%);
}
/* Parte suberior */
.menu-top {
  justify-content: flex-end;
}
.menu-top ul {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  padding: 0 180px;
}
.menu-top ul li,
.menu-down ul li {
  list-style: none;
}
.menu-top ul li a,
.menu-medium ul li a {
  text-decoration: none; /* quita el subrayado */
  color: white;
}
/* Parte media */
.menu-medium {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
}
.menu-medium input {
  border-radius: 10px;
  width: 30%;
  height: 2.5rem;
}
.menu-medium ul {
  display: flex;
}
.menu-medium ul li {
  display: flex;
  flex-direction: column;
  list-style: none;
}
/* .menu-medium ul li a {
  text-decoration: none;
  color: white;
} */
.menu-medium ul li i {
  display: flex;
  justify-content: center;
  list-style: none;
}
/* Parte down */
.content-menu-down {
  display: flex;
  justify-content: center;
  margin: 15px;
  flex-wrap: wrap;
  font-family: Arial, sans-serif;
  font-weight: 200;
  font-size: 0.9rem;
}

.menu-down ul {
  display: flex;
}
.menu-down ul li:not(:first-child)::marker {
  content: "|";
}
/* .menu-down ul li {
  list-style: none;
} */
.menu-down ul li a {
  text-decoration: none;
  color: #004da5;
  padding: 15px;
}
.menu-down ul li a:hover {
  background-color: #004da5;
  color: white;
}

/* Hero */
.content-hero {
  text-align: center;
  background-color: orangered;

  width: 100%;
  height: 600px;
}

.hero {
  background-image: url(img/heroAlkomprar.png);
  background-size: cover; /* la imagen cubre todo */
  background-position: center; /* centrada */
  background-repeat: no-repeat;
  width: 70%;
  height: 300px;
}
